/* Cram Base CSS 1.0.8
-------------------------------------------------------------- */

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-x: hidden;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}



/* Make images responsive
-------------------------------------------------------------- */

img { 
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}



/* WP stuff 
-------------------------------------------------------------- */

.screen-reader-text {
	display: none;
}

.alignleft {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}

.alignright {
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



/* micro clearfix
-------------------------------------------------------------- */

.row { width: 80%; max-width: 1000px; margin: 0 auto; }
.row:before, .row:after, .clear:before, .clear:after, .grid:before, .grid:after { content:''; display:table; }
.row:after, .clear:after, .grid:after { clear: both; }
.row, .clear, .grid { zoom: 1; position: relative; }
.row .row { width: auto; max-width: none; }

@media (min-width:1024px) {

	.wide .row, .wide.row { max-width: none; width: auto; margin: 0 3em; }

}

@media (max-width:1024px) {

	.row { width: 88%; }

}



/* Simple Resposive Grid 
-------------------------------------------------------------- */

.grid {
	margin: 0;
}

.grid .item {
	padding: 1em 0;
}

.grid .item figure img {
	width: 100%;
}

.grid .item > a {
	display: block;
}

@media (max-width:480px) {
	
}

@media (min-width:480px) {

	.grid {
		margin: 0 -1em;
	}
	
	.grid .item {
		padding: 1em;
		width: 50%;
		float: left;
	}
	
	.grid.one .item {
		width: 100%;
	}
	
}

@media (min-width:480px) and (max-width:767px) {

	.grid.two .item:nth-child(2n+1),
	.grid.three .item:nth-child(2n+1) {
		clear: left;
	}
	
}

@media (max-width:767px) {

	.grid.mobile ,
	.grid.four,
	.grid.five,
	.grid.six {
		margin: 0 -1em;
	}
	
	.grid.mobile .item,
	.grid.four .item,
	.grid.five .item,
	.grid.six .item {
		width: 50%;
		float: left;
		padding: 1em;	
	}
	
	.grid.mobile .item:nth-child(2n+1),
	.grid.four .item:nth-child(2n+1),
	.grid.five .item:nth-child(2n+1),
	.grid.six .item:nth-child(2n+1) {
		clear: left;
	}
	
	.grid.seven,
	.grid.eight,
	.grid.nine {
		margin: 0 -0.5em;
	}
	
	.grid.seven .item,
	.grid.eight .item,
	.grid.nine .item {
		width: 33.333%;
		float: left;
		padding: 0.5em;	
	}
	
	.grid.seven .item:nth-child(3n+1),
	.grid.eight .item:nth-child(3n+1),
	.grid.nine .item:nth-child(3n+1) {
		clear: left;
	}
	
}

@media (min-width: 768px) {

	.grid.two {
		margin: 0 -3em;
	}
	
	.grid.two .item {
		width: 50%;
		padding: 2em 3em;
	}

	.grid.three .item {
		width: 33.333%;
	}
	
	.grid.four .item {
		width: 25%;
	}
	
	.grid.five .item {
		width: 20%;
	}
	
	.grid.six .item {
		width: 16.666%;
	}
	
	.grid.seven .item {
		width: 14.285%;
	}
	
	.grid.eight .item {
		width: 12.5%;
	}
	
	.grid.nine .item {
		width: 11.111%;
	}
	
	.grid.two .item:nth-child(2n+1),
	.grid.three .item:nth-child(3n+1),
	.grid.four .item:nth-child(4n+1),
	.grid.five .item:nth-child(5n+1),
	.grid.six .item:nth-child(6n+1),
	.grid.seven .item:nth-child(7n+1),
	.grid.eight .item:nth-child(8n+1),
	.grid.nine .item:nth-child(9n+1) {
		clear: left;
	}
	
}

[class*='gallery'].grid .item a {
	box-shadow: 0 0 3px rgba(0,0,0,0.05);
}

[class*='gallery'] img {
    width: 100%;
    display: block;
    margin: 0 auto;
}



/* WordPress Gallery styles
-------------------------------------------------------------- */

.gallery {
	margin-left: -0.5em;
	margin-right: -0.5em;
}

.gallery:before, .gallery:after {
	content: "";
	display: table;
	clear: both;
}

.gallery img {
	width: 100%;
	vertical-align: bottom;
}

.gallery > * {
	margin: 0;
	float: left;
	width: 50%;
	padding: 0.5em;
	position: relative;
}

.gallery-columns-1 > * {
    width: 100%;
    float: none;
}

@media (min-width:600px) {

	.gallery-columns-2 > * {
		width: 50%;
	}
	
	.gallery-columns-3 > * {
		width: 33.333%;
	}
	
	.gallery-columns-4 > * {
		width: 25%;
	}
	
	.gallery-columns-5 > * {
	    width: 20%
	}
	
	.gallery-columns-6 > * {
	    width: 16.6667%
	}
	
	.gallery-columns-7 > * {
	    width: 14.2857%
	}
	
	.gallery-columns-8 > * {
	    width: 12.5%
	}
	
	.gallery-columns-9 > * {
	    width: 11.1111%
	}
	
	.gallery-columns-2 > :nth-child(2n+1),
	.gallery-columns-3 > :nth-child(3n+1),
	.gallery-columns-4 > :nth-child(4n+1),
	.gallery-columns-5 > :nth-child(5n+1),
	.gallery-columns-6 > :nth-child(6n+1),
	.gallery-columns-7 > :nth-child(7n+1),
	.gallery-columns-8 > :nth-child(8n+1),
	.gallery-columns-9 > :nth-child(9n+1) {
		clear: left;
	}

}

@media (max-width:600px) {
	
	.gallery > :nth-child(2n+1) {
		clear: left;
	}
	
}

.gallery-caption {
	font-size: 12px;
	text-align: center;
}



/* Slats 
-------------------------------------------------------------- */

.slats .item {
	padding: 1em;
	margin: 0 -1em;
}

.slats .item figure img {
	width: 100%;
}

@media (min-width:600px) {

	.slats .item, .slat {
		padding: 2em;
		margin: 0 -2em;
		overflow: hidden;
	}
	
	.slats .item figure, .slat figure {
		width: 45%;
		float: left;
		margin-right: 2em;
	}
	
	.slats .item article, .slat article {
		padding-top: 0;
		overflow: hidden;
	}
	
	.slats .item article:first-child {
		background: #fafafa;
		border-bottom: 1px solid #ddd;
		padding: 2em;
	}
	
}

@media (min-width: 980px) {

	.slats .item figure, .slat figure {
		width: 30%;
		margin-right: 3em;
	}
	
}



/* post navigation
-------------------------------------------------------------- */

.nav-links {
	font-size: 0.75em;
	padding: 3em 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

.nav-links .page-numbers {
	padding: 0.5em 0.75em;
	border: 1px solid #ddd;
}

.nav-links .page-numbers + .page-numbers {
	margin-left: 0.5em;
}

.nav-links .current {
	border: 1px solid #ccc;
	background-color: #eee;
}

.nav-links .prev, .nav-links .next {
	border: none;
	padding: 0.5em 0;
}

.nav-previous, .nav-next {
	display: inline-block;
	padding: 1em;
}

.nav-next {
	border-left: 1px solid #ccc;
}



/* Search Form
-------------------------------------------------------------- */

.searchform {
    padding: 0 2.5em 0 0;
    overflow: hidden;
    position: relative;
	background: #eee;
}

.searchform label {
    display: none;
}

.searchform input[type=text] {
    margin: 0;
    width: 100%; 
}

.searchform input[type=submit] {
    position: absolute;
    top: 0; right: 0;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -999em;
    width: 2.5em; height: 100%;
}



/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	
	a, a:visited {
		text-decoration:underline;
	}
	
	a[href]:after {
		content:" (" attr(href) ")";
	}
	
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	
	thead {
		display:table-header-group;
	}
	
	tr,img {
		page-break-inside:avoid;
	}
	
	img {
		max-width:100% !important;
	}
	
	@page {
		margin:0.5cm;
	}
	
	p, h2, h3 {
		orphans:3;
		widows:3;
	}
	
	h2, h3 {
		page-break-after:avoid;
	}
	
} 



/*-----------------------------------------------------------------------------------*/
/* the end of base styles
/*-----------------------------------------------------------------------------------*/