/* debug colors 
.row {
	background-color: rgba(255,0,0,0.05);
	box-shadow: inset 0 0 0 1px rgba(255,0,0,0.15);
}
[class*="item"] {
	background-color: rgba(0,255,0,0.05);
	box-shadow: inset 0 0 0 1px rgba(0,255,0,0.15);
}
------------------------------------------ */

/* Structures
-------------------------------------------------------------- */
body {
	background: #eee;
}

#page-wrap {
}

#header {
	padding: 2em 0 0;
}

#menu {
	padding: 0 0 2em;
/*
	background: rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.2);
*/
}

#feature {
}

#feature img {
	width: 100%;
	max-width: none;
}

#content {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

#content section {
	padding: 3em 0;
}

#content section:nth-child(even) {
 	background: rgba(0,0,0,0.05);
}

#breadcrumb {
 	background: rgba(0,0,0,0.2);
}

#footer {
	padding: 3em 0;
	text-align: center;
	opacity: 0.5;
}

@media (max-width:1024px) {

	#content section {
		padding: 6% 0;
	}
	
	#footer {
		padding: 6% 0;
	}

}/* end @media */



/* Sub structures
-------------------------------------------------------------- */
.primary .hentry {
	padding: 1.5em;
	background: #fff;
}
	
@media (min-width:600px) {

	.primary {
		float: left;
		width: 70%;
	}
	
	.secondary {
		float: right;
		width: 30%;
		padding-left: 5%;
	}

	.primary .hentry {
		padding: 3em;
	}
	
}

@media (max-width:599px) {
	
	.secondary {
		margin-top: 3em;
	}
	
}

#content header {
	margin-bottom: 3em;
}



/* Header
-------------------------------------------------------------- */
#header {
	text-align: center;
}

#logo, #tagline {
	display: inline-block;
	margin: 0;
	margin-right: .1em;
	font-size: 2.0em;
}

#tagline {
}

@media (min-width:600px) {

	#menu {
		text-transform: uppercase;
		font-size: 0.875em;
	}
	
	#menu {
		text-align: center;
	}
	
	#menu nav li {
		text-align: left;
	}
	
}/* end @media */


.widget {
	margin-bottom: 2em;
}


.breadcrumb {
	text-align: center;
	font-size: 0.75em;
	text-transform: uppercase;
	line-height: 3em;
}

.breadcrumb [rel*="category"],
.breadcrumb [rel*="category"] + .sep,
.breadcrumb [rel*="category"] + .sep + .current,
.breadcrumb .home + .sep + .current,
.breadcrumb .home + .sep,
.breadcrumb .home {
	display: none;
}


/* meta
-------------------------------------------------------------- */

.meta {
	font-size: 0.75em;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

.meta p {
	display: inline-block;
}

.meta p:before {

	display:        inline-block;
	font-family:    'Genericons';
	font-size:      2em;
	font-style:     normal;
	font-weight:    normal;
	font-variant:   normal;
	line-height:    1;
	vertical-align: middle;
	/* color: #c33; */

	-webkit-font-smoothing: antialiased;
	
}

.meta p.time:before 	{ content: '\f303'; }
.meta p.comments:before { content: '\f300'; }
.meta p.category:before { content: '\f301'; }

.meta p + p {
	margin-left: 1em;
}

/* Portfolio Grid
-------------------------------------------------------------- */

.post-gallery {
	text-align: center;
}

.post-gallery .item {
	position: relative;
}

.post-gallery .item a {
	background: rgba(255,255,255,0.7);
	font-size: 0.75em;
}

.post-gallery .item figure {
	margin: 0;
}

.post-gallery .item .entry-title {
	margin: 0;
	padding: 1em 0.5em;
	color: #555;
	text-transform: uppercase;
}

.post-gallery .item .icon {
	background: rgba(0,0,0,0.7);
	text-shadow: 0 0 3px #000;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 0;
	line-height: 1;
	padding: 1em;
	margin-top: -2em;
	
}

.post-gallery .item .icon:before {
	content: 		'\f473';
	display:        inline-block;
	font-family:    'Genericons';
	font-size:      2em;
	font-style:     normal;
	font-weight:    normal;
	font-variant:   normal;
	line-height:    1;
	vertical-align: middle;
	/* color: #c33; */

	-webkit-font-smoothing: antialiased;
}

.post-gallery .parent.item .icon:before {
	content: 		'\f460';
}

.post-gallery .gallery.item .icon:before {
	content: 		'\f103';
}

#portfolio .item img {
	width: 100%;
}

figure.feature {
	text-align: center;
}



.commentlist {
	margin: 0;
	padding: 0;
}

.commentlist .comment {
	margin: 0;
}

.commentlist > .comment {
	padding: 2em;
	background: rgba(255,255,255,0.4);
}

.commentlist > .comment:nth-child(odd) {
	background: rgba(255,255,255,0.6);
}

.form-allowed-tags {
	display: none;
}



	/* Social menu */

/* Menus */
#menu-social li {
	text-transform: uppercase;
	font-size: 0.75em;
}

#menu-social li + li {
	margin-left: 1em;
}

#menu-social li a:before {

	display:        inline-block;
	font-family:    'Genericons';
	font-size:      18px;
	font-style:     normal;
	font-weight:    normal;
	font-variant:   normal;
	line-height:    1;
	vertical-align: middle;

	-webkit-font-smoothing: antialiased;
	
}

#menu-social li a:before        { content: '\f408'; padding: 0 3px; }
#menu-social li a:hover:before  { opacity: 0.75; }

#menu-social li a[href*="codepen.io"]:before      { content: '\f216'; color: #999;    }
#menu-social li a[href*="digg.com"]:before        { content: '\f221'; color: #999;    }
#menu-social li a[href*="dribbble.com"]:before    { content: '\f201'; color: #ea4c89; }
#menu-social li a[href*="facebook.com"]:before    { content: '\f203'; color: #3b5998; }
#menu-social li a[href*="flickr.com"]:before      { content: '\f211'; color: #ff0084; }
#menu-social li a[href*="plus.google.com"]:before { content: '\f206'; color: #dd4b39; }
#menu-social li a[href*="github.com"]:before      { content: '\f200'; color: #4183c4; }
#menu-social li a[href*="instagram.com"]:before   { content: '\f215'; color: #3f729b; }
#menu-social li a[href*="linkedin.com"]:before    { content: '\f208'; color: #0e76a8; }
#menu-social li a[href*="pinterest.com"]:before   { content: '\f210'; color: #c8232c; }
#menu-social li a[href*="polldaddy.com"]:before   { content: '\f217'; color: #bc0b0b; }
#menu-social li a[href*="getpocket.com"]:before   { content: '\f224'; color: #ee4056; }
#menu-social li a[href*="reddit.com"]:before      { content: '\f222'; color: #336699; }
#menu-social li a[href*="skype.com"]:before,
#menu-social li a[href*="skype:"]:before          { content: '\f220'; color: #00aff0; }
#menu-social li a[href*="stumbleupon.com"]:before { content: '\f223'; color: #ff2618; }
#menu-social li a[href*="tumblr.com"]:before      { content: '\f214'; color: #34526f; }
#menu-social li a[href*="twitter.com"]:before     { content: '\f202'; color: #33ccff; }
#menu-social li a[href*="vimeo.com"]:before       { content: '\f212'; color: #1AB7EA; }
#menu-social li a[href*="wordpress.org"]:before,
#menu-social li a[href*="wordpress.com"]:before   { content: '\f205'; color: #21759b; }
#menu-social li a[href*="youtube.com"]:before     { content: '\f213'; color: #c4302b; }



