/* fonts
-------------------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800);
@font-face {
	font-family: 'Genericons';
	font-weight: normal;
	font-style:  normal;

	src: url('fonts/genericons/genericons-regular-webfont.eot');
	src: url('fonts/genericons/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/genericons/genericons-regular-webfont.woff') format('woff'),
	     url('fonts/genericons/genericons-regular-webfont.ttf') format('truetype'),
	     url('fonts/genericons/genericons-regular-webfont.svg#genericonsregular') format('svg');
}



html .mceContentBody {
	/* max-width: 42em; */
}

#tinymce.wp-editor, body { 
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #555;
	background: #fff;
}

#tinymce.wp-editor a {
	color: #000;
}




/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 1em 0;
}

.alignright {
    float:right;
    margin: 1em 0 1em 1em;
}

.alignleft {
    float: left;
    margin: 1em 1em 1em 0;
}

.aligncenter {
    display: block;
    margin: 1em auto;
}

.wp-caption {
    background: #fff;
    padding: 1em;
    text-align: center;
}

.wp-caption-text {
    font-size: 0.75em;
    margin: 1em 0 0 0;
}

.gallery-caption {}

.sticky {}

.bypostauthor {}



/* typography
-------------------------------------------------------------- */

:first-child {
	margin-top: 0;
}

:last-child {
	margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #aaa;
	font-weight: 800;
	line-height: 1.1;
	margin: 0 0 0.5em 0;
	letter-spacing: -0.04em;
	-webkit-font-smoothing: antialiased;
}

h1 { font-size: 3.0em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2.0em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.0em; margin-bottom: 1em; }
h6 { font-size: 0.8em; text-transform: uppercase; letter-spacing: 1px; }

@media (max-width: 44em) {

	body { font-size: 14px; }
	h1 { font-size: 2.6em; }
	h2 { font-size: 2.2em; }
	h3 { font-size: 1.8em; }
	h4 { font-size: 1.4em; }
	h5 { font-size: 1.0em; }

}

a  {
	color: #000;
	text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a {
	color: #333;
}

[class*='content'] p a {
	text-decoration: underline;
}

p {
	margin-bottom: 1.2em;
}

blockquote {
	margin: 2em 0;
	padding: 2em;
	border: 1px solid #ddd;
	background: #eaeaea;
	background: rgba(0,0,0,0.1);
	font-style: italic;
}

hr {
	border: none;
	background: #ddd;
	height: 1px;
	margin: 2em 0;
}

mark {
	background-color: #adf;
	padding: 0 0.25em;
}

.intro {
	font-size: 1.4em;
}

.entry-title, .widget-title {
	text-align: center;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 1.5em 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #ccc;
	padding: 0.5em 0.75em;
	text-align: left;
}

th {
	border-bottom: 3px solid #bbb;
}

tr:nth-child(even) th, tr:nth-child(even) td {
	background: #eee;
}

caption {
	background: #bbb;
	padding: 0.5em 0.75em;
	color: #fff;
	font-weight: bold;
}

ul, ol {
	margin-bottom: 1.5em;
}

li {
	margin-bottom: 0.375em;
}

code {
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	color: #333;
	font-family: Courier, Monaco, monospace;
	padding: 0 0.2em;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}

pre {
	background: #f5f5f5 url(images/code.png);
	border: 1px solid #ccc;
	border-left-width: 1em;
	line-height: 25px;
	margin-bottom: 2em;
	overflow: auto;
	overflow-y: hidden;
	padding: 0 2em 2em 2em;
	white-space: pre;
}

pre code {
	background-color: transparent;
	border-bottom: none;
	font-size: 14px;
	line-height: 24px;
	padding: 0;
}

figure {
	margin: 0;
}



/* Basic Form Styles 
-------------------------------------------------------------- */
input, textarea, button {
	background: #ddd;
	margin: 0;
	padding: 0.5em;
	color: #aaa;
	outline: none;
	border: none;
}

textarea {
	overflow: auto;
	resize: vertical;
}

input:focus, textarea:focus {
	background: #fafafa;
	color: #555;
}

input[type="submit"] { 
	padding: 0.5em 1em;
}

input[type="submit"]::-moz-focus-inner { 
	border:0; 
}

fieldset {
	border: 1px solid #ccc;
	margin: 2em 0;
	padding: 1em;
}

legend {
	padding: 0.5em 0.75em;
	border: 1px solid #ccc;
}

label input, label textarea {
	display: block;
}

label textarea {
	width: 100%;
}

